.expo/
assets/
node_modules/
.expo-shared/
.prettierrc.json
babel.config.js
commitlint.config.js
metro.config.js
package-lock.json
package.json
jsconfig.json
app.json
.watchmanconfig
.gitignore
.eslintrc.json
.eslintignore
.env.template
.editorconfig
.travis.yml
README.md